$color1: transparent; // transparent
$color2: #f0f; // lightest
$color3: #0ff; // lighter
$color4: #2b90d9; // vibrant
$color5: #ffffff; // white
$color6: #df405a; // error red
$color7: #79bd9a; // succ green
$color8: #000000; // black
